body{
    margin: 0;
}

.container {
    background-color: red;
    height: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.raw {
    background-color: yellow;
    margin: 20px;
    padding: 10px;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.item1, .item2, .item3{
    width: 100%;
    height: 150px;
    background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px;
    border-color: azure;
}


.item1 {
    background-color: aquamarine;
}

.item2 {
    background-color: blueviolet;
}

.item3 {
    background-color: darkgreen;
}
